<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <style media="screen">
      body {
        background-color: rgb(220,220,220) !important;
      }
    </style>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/column.css') }}">
    <script src="{{ url_for('static',filename='js/index.js') }}" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    {% if title %}
    <title>SaleSys | {{ title }}</title>
    {% else %}
    <title>SaleSys</title>
    {% endif %}
  </head>
  <body>
      <div class="main-column" id="main-column">
        <div class="usr-info column-member" id="usr-info">
          <div class="avatar-wrapper">
            <img class="avatar-img" src="{{ url_for('static',filename='placeholder/avatar.jpg') }}" alt="">
          </div>
          <div class="user-data">
            <h4>{{ name or "Error 404, name is missing" }}</h4>
            <p>{{ code or "#404!" }}</p>
          </div>
        </div>
        <p class="column-member">test test test test test test test test test test </p>
      </div>
      <div class="main-content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
          {% if title %}
          <a class="navbar-brand" href="/">SaleSys | {{ title }}</a>
          {% else %}
          <a class="navbar-brand" href="/">SaleSys</a>
          {% endif %}
        </nav>
        <div class="container text-center">
        {% block body %} {% endblock %}
        </div>
        <div class="navbar fixed-bottom bg-light">

          <label class="navbar-brand">SaleSys</label>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
